/*  Colors */
html {
  font-size: 100%;
}
.borderBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#popoverWrapper {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: fixed;
  width: 250px;
  padding-top: 14px;
  visibility: hidden;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  pointer-events: none;
  -webkit-transform: translateZ(0);
}
#popover {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #333335;
  visibility: visible !important;
  z-index: 10;
  -webkit-transform: translateZ(0);
}
#popover a {
  color: #333335;
}
#popoverHeader {
  position: absolute;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  line-height: 35px;
  font-size: 1em;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  visibility: visible;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  height: 35px;
  pointer-events: auto;
  border-top: 1px solid #cccccc;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
#popoverArrow {
  position: absolute;
  float: left;
  margin-top: -15px;
  margin-left: -11px;
  /* Half width */
  visibility: visible;
  left: 50%;
  z-index: 2;
  line-height: 20px;
  height: 18px;
  width: 18px;
  font-size: 18px;
  color: #fff;
  -webkit-transform: scale(2, 1);
  text-shadow: 0 -1px #cccccc;
}
.flipArrow {
  text-shadow: 0 1px #ccc !important;
}
#popoverClose,
#popoverBack {
  position: absolute;
  cursor: pointer;
}
#popoverCloseIcon,
#popoverBackIcon {
  display: inline-block;
  color: #555;
  margin: 0px 10px;
  font-size: 14px;
  font-weight: 800;
  line-height: initial;
}
#popoverClose {
  top: 0;
  right: 0;
}
#popoverBackIcon {
  -webkit-transform: scale(0.75, 1);
}
#popoverBackIcon:hover,
#popoverCloseIcon:hover {
  color: #333335;
}
#popoverTitle {
  white-space: nowrap;
  text-align: center;
  max-width: 225px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
}
#popoverContentWrapper {
  position: relative;
  overflow: visible !important;
  padding-top: 0px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: auto;
}
.roundedCornersTop {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.roundedCornersBot {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#popoverContent {
  border-top: 1px solid #cccccc;
  visibility: visible;
  position: relative;
  overflow: auto;
  min-height: 43px;
  max-height: 100%;
  width: 100%;
  text-align: left;
  font-size: 1em;
  background: #ffffff;
  box-shadow: 0px 12px 15px -6px #888888;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#popoverContent .last {
  border-bottom: none;
  padding-bottom: 1px;
  padding-right: 5px;
  min-height: 20px !important;
}
.popoverContentRow {
  display: block;
  min-height: 45px;
  cursor: pointer;
  padding: 9px 2px 0 5px;
  border-bottom: 1px solid #f1f2f2;
  text-decoration: none;
}
.popoverContentRow:hover {
  background: #e6e6e6;
}
.popoverContentRow img {
  vertical-align: middle;
}
span.archives_cw_description {
  float: right;
}
.archives_cw_title {
display: inline-block;
width: 80%;
vertical-align: middle;
text-align: center;
}
.calendar-archives.twentytwelve .day.weekday{
font-size: 80% !important;
}